$white: #fff;

$light-grey: #f5f5f5;
$mid-light-grey: darken($light-grey, 10%);
$grey: #ccc;
$mid-grey: #aaa;
$dark-grey: #333;

$light-blue: #b3d4fc;
$mid-blue: #00bce4;

$transparent-green: rgba(2, 175, 45, 0.58);
$translucent-green: rgba(2, 175, 45, 0.87);

$black: #000;
