.col {
  float: left;
  margin-right: 20px;
  padding: 10px 0;

  &.file-name {
    width: 350px;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &.small-info {
    border-right: #aaa solid 1px;
    margin-right: 10px;
    padding-right: 10px;
    min-width: 60px;
    text-align: center;
  }
}
